input {
    width: 300px;
    padding: 10px;
    margin-bottom: 0;
    outline: none !important;
    color: #4d4d4d;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey !important;;
}
.changeLogin:hover {
    cursor: pointer;
}

.login {
    display: flex;
    height: 100vh;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

input {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    margin-bottom: 0.7em;
}

.loginButton {
    width: 100%;
    padding: 2.5%;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
}

.spinner {
    margin-top: 8px;
    margin-bottom: 8px;
}