.messenger {
    height: calc(100vh - 70px);
    display: flex;
}

.chat {
    flex: 1;
    align-self: flex-end;
}

.chatWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatTop {
    height: 100%;
    overflow-y: scroll;
    background-color: brown;
}

.chatMessageInput {
    height: 40px;
    width: 80%;
}

.chatSubmitButton {
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}

.chatBottom {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.buttonUnfollow{
    background-color: rgb(148, 6, 6);
    border-color: white;
}

.buttonUnfollow:hover{
    background-color: rgb(180, 34, 34);
    border-color: rgb(180, 34, 34);
}

.buttonFollow{
    background-color: rgb(7, 167, 7);
    border-color: white;
}

.buttonFollow:hover{
    background-color: rgb(7, 167, 7);
    border-color: rgb(7, 167, 7);
}

.navBarChat{
    text-align: center;
}